@model GoogleMapPartViewModel
@inject IOptions<AutorouteOptions> AutorouteOptions

@{
    var routeValues = new RouteValueDictionary(AutorouteOptions.Value.GlobalRouteValues);
    routeValues[AutorouteOptions.Value.ContentItemIdKey] = Model.ContentItem.ContentItemId;
    var url = Url.RouteUrl(routeValues);

    var serializable = new DisplayMapViewModel
    {
        Lat = Model.Lat,
        Lng = Model.Lng,
        Path = url
    };

    var mapInfo = JsonConvert.SerializeObject(serializable, CamelCaseJsonSerializer.Settings);
}
<div class="google-map-data" data-google-map-data='@Html.Raw(mapInfo)' style="display:none"></div>