@model GoogleMapPartViewModel
@{
    var serializable = new DisplayMapViewModel
    {
        Lat = Model.Lat,
        Lng = Model.Lng
    };

    var mapInfo = JsonConvert.SerializeObject(serializable, CamelCaseJsonSerializer.Settings);
}
<div class="google-map-data" data-google-map-data='@Html.Raw(mapInfo)' style="display:none"></div>