@model GoogleMapPartViewModel
@inject IContentManager ContentManager

@{
    var contentItemMetadata = await ContentManager.PopulateAspectAsync<ContentItemMetadata>(Model.ContentItem);
    var request = Url.ActionContext.HttpContext.Request;
    var routes = contentItemMetadata.DisplayRouteValues;
    var url = Url.Action(routes["action"].ToString(), routes["controller"].ToString(), routes, request.Scheme);

    var serializable = new DisplayMapViewModel
    {
        Marker = Model.Marker,
        Polygons = Model.Polygons,
        Path = url
    };

    var mapInfo = JsonConvert.SerializeObject(serializable, CamelCaseJsonSerializer.Settings);
}
<div class="google-map-data" data-google-map-data='@Html.Raw(mapInfo)' style="display:none"></div>
